/* You can add custom styles here. */

// @import "plugins/numbered";

.center-image-80 {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%
  }
}

.center-image-50 {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
}