/* You can add custom styles here. */

// @import "plugins/numbered";

.center-image-85 {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%
  }
}

.center-image-75 {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%
  }
}

.center-image-50 {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
}

.center-image-25 {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%
  }
}

// Extra space for big screens
@media screen and (min-width: $container-max-width) {
  .book-page,
  .book-menu .book-menu-content,
  .book-toc .book-toc-content {
    padding: $padding-16;
  }

  .container {
    float: left;
  }
}