/* You can add custom styles here. */

// @import "plugins/numbered";

.center-image-85 {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%
  }
}

.center-image-75 {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%
  }
}

.center-image-50 {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
}

.center-image-25 {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%
  }
}

// Extra space for big screens
@media screen and (min-width: $container-max-width) {
  .book-page,
  .book-menu .book-menu-content,
  .book-toc .book-toc-content {
    padding: $padding-16;
  }

  .container {
    float: left;
  }
}

// littlefoot tooltips
// see https://littlefoot.js.org/ for more

.littlefoot {
  button {
    padding: 0 0.3rem;
    vertical-align: top; 
    text-align: center; 
    color: white;
    font-weight: 400; 
    font-size: .6em;
    background-color: #747474;
    --button-active-background-color: #353535;
  }

  aside {
    --popover-background-color: #353535;
    --popover-font-family: "Satoshi";
    --popover-font-weight: 300;
    --popover-text-color: #e9ecef;

    // override for mobile screen
    @media screen and (max-width: $mobile-breakpoint) {
      position: relative;
      margin: 5px 0;
    }
  
  }
}