// Used in layout
$padding-1: 1px !default;
$padding-4: 0.25rem !default;
$padding-8: 0.5rem !default;
$padding-16: 1rem !default;

$font-size-base: 16px !default;
$font-size-12: 0.75rem !default;
$font-size-14: 0.875rem !default;
$font-size-16: 1rem !default;

$border-radius: $padding-4 !default;

$body-font-weight: 300 !default;

$body-min-width: 24rem !default;
$container-max-width: 90rem !default;

$menu-width: 12rem !default;
$toc-width: 14rem !default;

$mobile-breakpoint: 768px;  // from littlefoot/src/littlefoot.css

// original ...
// $mobile-breakpoint: $menu-width + $body-min-width * 1.2 + $toc-width !default;

$hint-colors: (
  info: #6bf,
  warning: #fd6,
  danger: #f66,
) !default;

// Themes
@mixin theme-light {
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-500: #adb5bd;

  --color-link: #cc9d3a;
  --color-visited-link: black;

  --body-background: white;
  --body-font-color: gray;

  --icon-filter: none;

  --hint-color-info: #6bf;
  --hint-color-warning: #fd6;
  --hint-color-danger: #f66;
}

@mixin theme-dark {
  --gray-100: #494e54;
  --gray-200: #5c6165;
  --gray-500: #999d9f;

  --color-link: #deb887 ; // #84b2ff  #cc9d3a  #007fff  #deb887
  --color-visited-link: #999d9f;  // #999d9f   #deb887

  --body-background: #353535;  // #373737  #343a40  #353535
  --body-font-color: #e9ecef;

  --icon-filter: brightness(0) invert(1);

  --hint-color-info: #6bf;
  --hint-color-warning: #fd6;
  --hint-color-danger: #f66;
}
